body {
    margin: 0;
    background-color: cornflowerblue;
    color: white;
    font-family: sans-serif;
    height: 100vh;
}

header {
    padding: 20px 10px;
}

header > p {
    margin: 0;
}

#title {
    font-size: 2em;
    font-weight: bold;
}

#text {
    padding: 10px;
}

@media (max-width: 600px) {
    body {
        background-color: darkviolet;
    }

    #title {
        background-color: gold;
    }
}
